
[core]
editor = emacs
	excludesfile = /Users/nakagawa/.gitignore

[hub]
protocol = https

[user]
name = Yukiya Nakagawa
email = y.nakagawa@water-cell.jp

[color]
ui = true

[alias]
d = diff
co = checkout
s = status
b = branch
graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
delb = delete-merged-branches
