
[core]
	excludesfile = /Users/nkzn/.gitignore_global
	editor = emacs

[hub]
protocol = https

[user]
	name = Yukiya Nakagawa
	email = yukiya@monicle.co.jp

[color]
ui = true

[alias]
d = diff
co = checkout
s = status
b = branch
graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
delb = delete-merged-branches
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
	root = ~/dev/src
[pull]
	ff = only
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
